@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(270deg,#9333ea,#3d40fc, #4f0099);
  background-size: 800% 800%;
  animation: animatedGradient 12s ease infinite;
}
